<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Demo</h2>
  <p>Top 3</p>
  <table class="table table-bordered table-striped">
    <TR>
      <th>User 1</th>
    <TR>
       <TD class="c1">{{top_posts[0]}}</TD>
     <TR>
       <th>User 2</th>
     <TR>
        <TD class="c2">{{top_posts[1]}}</TD>
     <TR>
       <th>User 3</th>
     <TR>
       <TD class="c3">{{top_posts[2]}}</TD>
    </TR>
  </table>
</div>

</body>
</html>
